
/* INFO DATA */

.body-bg{
    display: none;
}
.ui-tooltip {
    border: 1px solid white;
    background: Azure;
    color: DarkSlateGray;
}
.listElementImgInfoPoster{
    padding: 5px;
    min-width: 206px;
}
.boxInfoOverlay{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50); *//* For IE8 and earlier */
    z-index: 100;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left top;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.boxInfoOverlayBg{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    z-index: 99;
}
.boxInfo{
    position: absolute;
    top: 4%;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 999;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    padding: 2%;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    background: rgba(170,170,190,.2);
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white !important;
}
.boxInfo span, .boxInfo div{
    padding: 4px;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    color: #ddd;
    font-size: 100%;
    background: rgba(50,50,50,.5);
    -webkit-align-items: center;
    align-items: center;
}
.boxInfo span a{
    padding: 4px 8px;
    text-decoration: none;
    white-space:nowrap;
}
.boxInfo h2{
    padding: 4px;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    color: #ddd;
    font-size: 100%;
    background: rgba(40,40,40,.5);
    -webkit-align-items: center;
    align-items: center;
    padding: 4px 8px;
    text-decoration: none;
    
}

/* INFO DATA ACTOR LIST */

.tListInfoActors{
    display: table;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.tListInfoActorsSep{
    clear: both;
    display: table-row;
}
.tListInfoActorsE{
    width: auto;
    height: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* border: 2px solid black; */
    color: black;
    cursor: pointer;
    display: inline-grid;
    /* display: table-cell; */
    /* background: url( 'u.png' ) no-repeat left top; */
}
.tListInfoActorsE img{
    display: inline;
    min-width: 90px;
    min-height: 160px;
    max-width: 9%;
    max-height: 16%;
    margin: 0;
    padding: 0;
    color: white;
    cursor: pointer;
    vertical-align: top;
}
.tListInfoActorsE span{
    display: block;
}

/* ELEMENT INFO */

.tListInfo{
	width: 100%;
	height: auto;
	border: 0px;
	margin: 0px;
	background-color: rgba(50,50,50,.3);
	color: LightGray;
	margin: 4px solid transparent;
}
.tListInfo tr:nth-child(even) {
	/* background-color: gray; */
}
.tListInfo tr td{
	padding: 4px 2px;
}
.tListInfo tr th {
	text-transform: uppercase;
	/* text-shadow: 2px 2px Gainsboro; */
	font-weight: bold;
	font-size: 140%;
    width: 80%;
}
.tListInfoTitle{
    /*
    background-color: black;
    background: rgba( 0,0,0,0.5 );
    */
}
/* IMG2 TO MINISCREENS */
.tListInfoTRImgMS{
    display: none;
}

/* MSGBOX */

.msgbox{
	display: none;
	position: fixed;
	bottom: 10%;
	right: 0px;
	width: 100%;
    margin: auto;
	height: auto;
	opacity: 0.6;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	margin: auto;
	vertical-align: middle;
	z-index: 9999;
}

.top-msg {
	display: table;
	width: 100%;
	background-color: white;
	color: black;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	vertical-align: middle;
}
.top-msg-close {
	display: table-cell;
	align-items: center;
	text-align: center;
	right: 0;
	box-sizing: border-box;
	width: 10%;
	height: 100%;
	vertical-align: middle;
	font-size: 180%;
	cursor: pointer;
}

.top-msg-inner a {
	text-decoration: none;
	color: RGBA(0, 0, 0, 0.6);
	font-weight: bold;
}

.top-msg-inner a:hover {
	color: RGBA(0, 0, 0, 0.5);
}

.top-msg-inner {
	display: table-cell;
	box-sizing: border-box;
	padding: 10px;
	width: 80%;
	vertical-align: middle;
}
.top-msg-ico {
	width: 10%;
	height: 100%;
	background-color: AliceBlue;
	font-size: 180%;
	display: table-cell;
	align-items: center;
	text-align: center;
	vertical-align: middle;
}

.info {
	padding-top: 100px;
}

/* MENU */

.menuBoxMS{
    display: none;
	cursor: pointer;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
	height: auto;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999999;
	background-color: black;
	padding: 2px;
    border-bottom: 1px solid gray;
    text-align: right;
}
.MenuDRowCloseMenu{
    display: none !important;
}
.MenuDRowCloseMenu a{
    width: 100%;
    padding: 4px;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    color: #ddd;
    font-size: 100%;
    background: rgba(50,50,50,.5);
    -webkit-align-items: center;
    align-items: center;
    background-color: indigo;
}
.dRowMS{
    display: block;
}
.listMenuElementMS{
    display: inline;
    width: 50%;
    height: auto;
    padding: 4px;
}
.menuBox{
	display: table;
	width: 100%;
    min-width: 100%;
    max-width: 100%;
	height: auto;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999999;
	background-color: black;
	padding: 2px;
    border-bottom: 1px solid gray;
}

.listMenuElement{
	display: table-cell;
	text-transform: uppercase;
	/* text-shadow: 2px 2px black; */
	font-weight: bold;
	background-color: transparent;
    width: auto;
    margin: auto;
}

.listMenuElement:hover{
	background-color: dimgray;
}

.listMenuElementAdmin{
	display: table-cell;
	text-transform: uppercase;
	/* text-shadow: 2px 2px black; */
	font-weight: bold;
	background-color: indigo;
    border-right: 1px solid dimgray;
    width: auto;
    margin: auto;
}

.listMenuElementAdmin:hover{
	background-color: dimgray;
}

.listMenuElement a, .listMenuElementAdmin a{
	padding: 0px 10px;
	text-decoration: none;
}

/* LISTS POSTER */

.boxList{
	display: table;
	width: 100%;
	/* height: 100%; */
}
.boxList h2{
    text-transform: uppercase;
    background-color: dimgray;
    background: rgba( 0,0,0,0.5 );
    border-bottom: 2px solid white;
    text-decoration: none !important;
}
.boxList h2 a{
    text-decoration: none !important;
}
.listElementPoster{
	display: table-cell;
	margin: 2px;
	width: 206px;
	height: 305px;
	overflow: none;
	cursor: pointer;
	overflow: hidden;
}
.listElementPosterTiny{
	display: table-cell;
	margin: 2px;
	width: 103px;
	height: 152px;
	overflow: none;
	cursor: pointer;
	overflow: hidden;
}
.listElementPosterTinyFreeSize{
	display: table-cell;
	margin: 2px;
	width: auto;
    height: auto;
    max-width: 20vh;
    max-height: 30vh;
	overflow: none;
	cursor: pointer;
	overflow: hidden;
}
.boxList{
	display: table;
	width: 100%;
	/* height: 100%; */
}
.listElement{
	display: table-cell;
	float: left;
	margin: 2px;
	width: 206px;
	height: 305px;
	overflow: none;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.listElementImg:hover{
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
.listElementImg{
	width: 206px;
	height: 305px;
	cursor: pointer;
	
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
	max-width: 100%;
}
.listElementImgMini{
	width: 103px;
	height: 152px;
}
.listElement span {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background:rgba( 0,0,0,0.5 );
	color: white;
	margin: 4px;
	padding: 2px;
	cursor: pointer;
	width: 198px;
    text-align: center;
    min-height: 40px;
}
.dTitlePlayed{
    background: rgba( 134,152,52,0.7 ) !important;
}

/* POSTER ELEMENT PLAYED BARS */

.dPlayedTimeBox{
    background-color:LightGray;
    height:5px;
    min-height:5px;
    width:100%
}
.dPlayedTimeBar{
    background-color: Blue;
    height:5px;
    max-width: 0%;
    text-align:center;
}

/* VIDEO PLAYER */

.ui-tooltip {
    border: 1px solid white;
    background: Azure;
    color: DarkSlateGray;
}
.body-bg{
    display: none;
}

/* PLAYER CONTROLS */

.videoplayer{
    position: absolute;
    width:100%; 
    height:100%;
    cursor: pointer;
    margin: 0px;
    border: 0px;
}
.playerBoxC, .playerBoxI{
    position: absolute;
    width: 100%;
    height: 40px;
    min-height: 5%;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    /* border: 1px solid gray; */
    z-index: 9999;
}
.playerBoxC{
    left: 0px;
    bottom: 10px;
}
.playerBoxI{
    left: 0px;
    top: 40px;
    text-align: left;
}
.playerControls, .playerInfo{
    position: relative;
    width: 80%;
    height: auto;
    min-height: 10%;
    /* background:rgba(0,0,0,0.7); */
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    margin: auto;
    margin-left: 10% solid transparent;
    margin-right: 10% solid transparent;
    border: 1px solid gray;
    border-radius: 5px;
}
.playerInfoTitle, .playerInfoImg{
    position: relative;
    font-size: 160%;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px Gainsboro;
    font-weight: bold;
    display: inline;
    vertical-align: middle;
    padding-left: 10px;
}
.playerControls{
    display: table;
    background-color: DarkGray;
}
.playerControlPlay{
    display: inline;
    position: relative;
    width: 5%;
    min-width: 5%;
    height: auto;
    background-color: black;
    color: gray;
    font-size: 160%;
    padding: 5px;
    display: table-cell;
}
.playerControlsOv:hover{
    background-color: AliceBlue;
    cursor: pointer;
}
.playerControlTime{
    display: inline;
    position: relative;
    width: 60%;
    min-width: 80%;
    height: 100%;
    margin: auto;
    display: table-cell;
    background-color: black;
    vertical-align: middle;
}
.playerBoxControlTime{
    display: inline;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 40px;
    display: table;
    cursor: pointer;
    border: 0px;
}
.playerControlTimeInfo{
    display: inline;
    position: relative;
    width: auto;
    min-width: 1%;
    height: 50%;
    text-align: center;
    display: table-cell;
    background-color: CornflowerBlue;
    border: 0px;
}
.playerControlTimeInfoPlayed,
.playerControlSoundInfoSel,
.playerControlQuality,
.playerControlTimeInfo:hover,
.playerControlSoundInfo:hover
{
    background-color: AliceBlue;
}
.playerControlTimeNow{
    display: inline;
    position: relative;
    width: 10%;
    height: auto;
    background-color: black;
    color: gray;
    font-size: 100%;
    padding: 5px;
    display: table-cell;
}
.playerControlSoundIco{
    display: inline;
    position: relative;
    width: 3%;
    min-width: 3%;
    height: auto;
    background-color: black;
    color: gray;
    font-size: 160%;
    padding: 5px;
    display: table-cell;
}
.playerControlSound{
    display: inline;
    position: relative;
    width: 7%;
    min-width: 5%;
    height: auto;
    margin: auto;
    display: table-cell;
    background-color: black;
}
.playerBoxControlSound{
    display: inline;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 40px;
    display: table;
    cursor: pointer;
}
.playerControlSoundInfo{
    display: inline;
    position: relative;
    width: auto;
    min-width: 2px;
    height: 100%;
    text-align: center;
    display: table-cell;
    background-color: DarkSlateBlue;
}
.playerControlSoundInfoSel{
    background-color: aqua;
}
.playerControlAudioTrackIco{
    display: inline;
    position: relative;
    width: 3%;
    min-width: 3%;
    height: auto;
    background-color: black;
    color: gray;
    font-size: 160%;
    padding: 5px;
    display: table-cell;
    cursor: pointer;
}
.playerControlSubTrackIco{
    display: inline;
    position: relative;
    width: 3%;
    min-width: 3%;
    height: auto;
    background-color: black;
    color: gray;
    font-size: 120%;
    padding: 5px;
    display: table-cell;
    cursor: pointer;
}
.playerControlSubTrackIco span{
    border: 1px solid gray;
    text-transform: lowercase;
    font-weight: normal;
    padding: 2px;
}
.playerControlFullScreenIco{
    display: inline;
    position: relative;
    width: 3%;
    min-width: 3%;
    height: auto;
    background-color: black;
    color: gray;
    font-size: 160%;
    padding: 5px;
    display: table-cell;
    cursor: pointer;
}
.playerControlNewFile{
    display: inline;
    position: relative;
    width: 3%;
    min-width: 3%;
    height: auto;
    background-color: black;
    color: gray;
    font-size: 160%;
    padding: 5px;
    display: table-cell;
    cursor: pointer;
}
.playerControlNewFile a{
    color: white;
    text-decoration: none;
}
.playerControlHome{
    display: inline;
    position: relative;
    width: 3%;
    min-width: 3%;
    height: auto;
    background-color: black;
    color: gray;
    font-size: 160%;
    padding: 5px;
    display: table-cell;
    cursor: pointer;
}
.playerControlHome a{
    color: white;
    text-decoration: none;
}
.cursorTransparent{
    cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=);
}
.playerControlAudioTrackList{
    width: 20%;
    height: 20%;
    position: absolute;
    background-color: black;
    color: white;
    top: 50%;
    left: 50%;
    margin-top: -20%;
    margin-left: -20%;
}
.playerAudioTrack{
    display: block;
    cursor: pointer;
}
.playerSubTrack{
    display: block;
    cursor: pointer;
}
.playerControlQuality{
    display: inline;
    position: relative;
    width: auto;
    min-width: 2px;
    height: 100%;
    text-align: center;
    display: table-cell;
    background-color: DarkSlateBlue;
    font-size: 120%;
    background-color: black;
    color: gray;
    cursor: pointer;
}
.playerControlQualityHD{
    font-weight: bold;
    color: white;
    font-size: 140%;
}

/* IDENTIFY */

.aIdentSearchResult{
    color: black;
    text-decoration: none;
}

/* LOG LIST */

.tLogList{
    margin: auto;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: black;
}

.tLogList th{
    background-color: black;
}

/* WEBSCRAPPER */

.taWebScrapLinks{
    width: 100%;
    height: 50%;
    min-height: 50vh;
}

/* CHAPTERLIST */

.dBoxInfoE{
    display: block;
    padding: 4px;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    color: #ddd;
    font-size: 100%;
    background: rgba(50,50,50,.8);
    -webkit-align-items: center;
    align-items: center;
}

/* CONFIG FORM */

.taConfig{
    width: 99%;
    height: 80vh;
}

/* SEARCH */

.trSearch{
    -webkit-border-radius: .25em;
    border-radius: .25em;
    color: #ddd;
    font-size: 100%;
    background: rgba(50,50,50,.5);
    -webkit-align-items: center;
    align-items: center;
}

.dRow{
    display: table-row;
}


/* PLAYER BOX 2 */

.playerBoxControls{
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 5%;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    /* border: 1px solid gray; */
    z-index: 9999;
    left: 0px;
    bottom: 0px;
    display: table;
}

.playerBoxControls div{
    box-sizing:border-box;
}

.playerBoxBarInfo{
    width: 20vh;
    max-width: 20vh;
    display: table-cell;
    text-align: center;
}
.playerBoxBarInfo img{
    max-width: 100%;
    max-height: 40vh;
}

.playerBoxBarControls{
    width: 80vh;
    max-width: 80vh;
    display: table-cell;
    vertical-align: top;
}
.playerBoxBarControlsTitle{
    font-size: 160%;
    display:block;
    text-align: center;
}
.tRow{
    display: table-row;
}
.tbSlider{
    padding: 1%;
    margin: auto;
    width: 100%;
    display: table-cell;
}
.tbTimer{
    width: auto;
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}
.playerBoxBarControlsTimeBarSlide{
    width: 96%;
}
.playerBoxBarControlsButton{
    width: auto;
    height: auto;
    display: table-cell;
    font-size: 160%;
    padding: 0.2em 0.5em;
    margin: 0.2em;
    cursor: pointer;
}
.playerBoxBarControlsButton:hover{
    background-color: #595959;
}
.playerBoxBarControlsButtonSelected{
    background-color: #797979 !important;
}
.text120{
    font-size: 120% !important;
}
.playerBoxControls hr{
    border: 0; 
    height: 1px;
    background: transparent;
    margin: 0px;
    border: 0px;
    padding: 2px;
}
.videoinfo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 90%;
    color: #c3c3c3;
}

/* RANGE */

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
  background-color: transparent;
}

input[type=range].slider:focus {
  outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(202, 200, 202, 0.81);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}

input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}

input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(202, 200, 202, 0.81);
  cursor: pointer;
}

input[type=range].slider::-ms-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range].slider::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range].slider::-ms-fill-upper {
  background: #484d4d;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(202, 200, 202, 0.81);
  cursor: pointer;
  height: 25.6px;
}

input[type=range].slider:focus::-ms-fill-lower {
  background: #484d4d;
}

input[type=range].slider:focus::-ms-fill-upper {
  background: #545a5a;
}

/* dSlider */

.dSlider{
    width: 100%;
    height: 100%;
    background-color: black;
    cursor: pointer;
    -webkit-box-shadow: 0 0 4px white; 
    -moz-box-shadow: 0 0 4px white; 
    box-shadow: 0 0 4px white;
}
.dSliderInner{
    width: 0%;
    height: 100%;
    background-color: CornflowerBlue;
    overflow: hidden;
    text-align: right;
    -webkit-box-shadow: 0 0 4px CornflowerBlue;
    -moz-box-shadow: 0 0 4px CornflowerBlue;
    box-shadow: 0 0 4px CornflowerBlue;
    font-size: 80%;
    border-right: 2px solid white;
}

/* PLAYER SUBS OVERLAY */

.subOverlay{
    text-align: center;
    font-size: 4em;
    color: yellow;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    position: fixed;
    bottom: 5%;
    left: 0px;
    z-index: 1001;
    background-color: transparent;
    padding: 2px;
}

/* SEARCH IMAGES RESULTS */
.tdSearchImgResult{
    max-width: 20vh;
}

/* SCREEN SIZES */

/* <480 */
@media only screen and (max-width: 480px) {
    /* SHOW INFO BASE IMG ON SIZE */
    .tListInfoTRImgMS{
        display: inherit;
    }
    .tListInfoTRImgMS td{
        text-align: center;
    }
    .tListInfoImgMS{
        display: inherit;
    }
    .listElementImgMS {
        width: 100%;
        height: auto;
    }
    /* HIDE INFO BASE IMG ON SIZE */
    .tListInfoImg{
        display: none;
    }
    /* HIDE INFO BASE IMG TD ON SIZE */
    .tListInfoTDImg{
        max-width: 0px;
        display: none;
    }
    /* LIST ELEMENTS RESIZE */
    .listElement, .listElementImg{
        width: 102px;
        height: 150px;
    }
    .listElement span{
        width: 102px;
        margin: 0px;
        padding: 0px;
    }
    /* MEDIA INFO LINE SIZE LINKS */
    .boxInfo span a {
        line-height: 200%;
    }
    /* MENU BOX */
    .MenuDRowCloseMenu{
        display: inherit !important;
        padding: 2%;
        text-transform: uppercase;
        /* text-shadow: 2px 2px black; */
        font-weight: bold;
    }
    .menuBoxMS{
        display: inherit;
    }
    .listMenuElement, .listMenuElementAdmin{
        /* display: table-cell; */
        display: inline-block;
        text-transform: uppercase;
        /* text-shadow: 2px 2px black; */
        font-weight: bold;
        background-color: transparent;
        width: auto;
        margin: auto;
        padding: 1%;
        width: 30%;
    }
    .listMenuElementAdmin{
        background-color: indigo !important;
    }
    .listMenuElementMS{
        display: inline;
        width: 50%;
        height: auto;
        padding: 4px;
        min-width: 50%;
        text-transform: uppercase;
        /* text-shadow: 2px 2px black; */
        font-weight: bold;
    }
    .menuBox{
        display: none;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        text-align: center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9999999;
        background-color: black;
        padding: 2px;
        border-bottom: 1px solid gray;
    }
}

/* <1024 Only Menu */
@media only screen and (max-width: 1024px) {
    /* MENU BOX */
    .MenuDRowCloseMenu{
        display: inherit !important;
        padding: 2%;
        text-transform: uppercase;
        /* text-shadow: 2px 2px black; */
        font-weight: bold;
    }
    .menuBoxMS{
        display: inherit;
    }
    .listMenuElement, .listMenuElementAdmin{
        /* display: table-cell; */
        display: inline-block;
        text-transform: uppercase;
        /* text-shadow: 2px 2px black; */
        font-weight: bold;
        background-color: transparent;
        width: auto;
        margin: auto;
        padding: 1%;
        width: 25%;
    }
    .listMenuElementAdmin{
        background-color: indigo !important;
    }
    .listMenuElementMS{
        display: inline;
        width: 50%;
        height: auto;
        padding: 4px;
        min-width: 50%;
        text-transform: uppercase;
        /* text-shadow: 2px 2px black; */
        font-weight: bold;
    }
    .menuBox{
        display: none;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        text-align: center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9999999;
        background-color: black;
        padding: 2px;
        border-bottom: 1px solid gray;
    }
}

/* >1024 Remake Menu */
@media only screen and (min-width: 1024px) {
    /* MENU BOX */
    
}
